*{
    font-size: 1.2rem;
}
body {
    background-color: rgb(70, 0, 113);
} 
p {
    color: aliceblue;
} 
.style-p{
    color: blue;
}
h1 {
    color:brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.titulo-secundario {
    color: forestgreen;
    text-decoration:underline ;
}
#parrafo-unico {
    color: aliceblue;
    background-color: rgb(255, 140, 0);
}
.test {
    font-family: cursive;
}
.caja-modelo {
    width:50%;
    background-color: orangered;
    border: 5px solid black;    
    padding: 20px;
    margin: 4px 10px 40px 10px;
    border-radius: 20px;
}


